body {
	background-color: #86BBD8;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
	background-color: slategray;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;

}

.cart {
	margin: auto;
	background-color: #758E4F;
	/* width: 90%; */
	padding: 1em;
}

.cart-table  {
	padding: 10px;
}

.shop th {
	padding: 15px;
	font-size: 17px;
	width: 230px;
	font-weight: bolder;
	color: white;
	/* border-bottom: 3px solid white; */

}

th {
	border: 3px solid white;
}





.cart-table {
	/* background-color: white; */
	color: slategray;
	width: 60%;
	margin: auto;
}

.icon img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.add input {
	border: 0;
	
	width: 30px;
	height: 30px;
	color: slategray;
	border-radius: 3px;
	margin: 10px;
	background-color: white;
}

.checkout {
	width: 230px;
	padding: 15px;
	font-size: 17px;
	color: slategray;
	font-weight: bolder;
	margin-top: 10px;
	margin-left: 158px;
	border: 0;
	border-radius: 0;
}

.options {
	display: flex;
	width: 30%;
}

.option {
	padding: 28px;
}

.bronze {
	background-color: orangered;
	margin: 20px 0px 20px 0px;
}

.orange {
	background-color: orange;
	margin: 20px;
}

.pink {
	background-color: palevioletred;
	margin: 20px 0px 20px 0px;
}
.option img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: auto;
}

.option p {
	text-align: justify;
	padding: 15px;
}

.option h4 {
	font-weight: bolder;
	color: snow;
	text-shadow: 1px 1px 55px rgb(0 0 0 / 47%);

}

.option input{
	padding: 15px;
	border-radius: 0;
	border: 0;
	font-size: 17px;
	text-align: center;
	width: 230px;
	margin: 10px;
	color:slategray;
	font-weight: bolder;
}

/* @media (max-width: 1300px) {
	.options {
		display: block; 
		width: 100%;
		margin: auto; 
		/* padding: 300px; 
	}

	.option {
		padding: 50px 230px 50px 230px;
		
	}

	.option img {
		width: 400px;
		height: 400px;
	}

	.option p {
		width: 400px;
	}

	.option input {
		width: 400px;
	}

	.option h3, .option h4 {
		margin-left: -50px;
	}
	

	.orange {
		margin: 0%;
	}

	.header{
		 width: 50%;
		margin: auto;  
		
	}

	.cart {
		 width: 50%;
		margin: auto;  
	}


} */

@media (max-width: 360px){
	/* cart  */
	.cart-table {
		width: 90%;
	}

	.checkout {
		margin: auto;
		margin-left: 15px;
	}

	.options {
		display: block;
	}

	.option {
		width: 270px;
	}

	.orange {
		margin: 0px;
	}
} 

/* @media (max-width: 411px) {
	

	.header {
		width: 223%;
	}

	.checkout {
		margin: auto;
		margin-left: 26%;
	}

	.cart {
		width: 222%;
	}

	.option {
		padding: 7px;
	}
} */

